@import "normalize";

$break-large: 800px;
$main-font-family: "Baskerville", serif;
$code-font-family: "Fira Code", monospace;
$nav-font-family: "Montserrat", sans-serif;

body {
    font-family: $main-font-family;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

pre {
    padding-left: 1rem;
    font-family: $code-font-family;
    font-size: 1rem;
    overflow: auto;
}

a {
    &:link {
        text-decoration: none;
        color: darkblue;
    }
  
    &:visited {
        text-decoration: none;
        color: darkcyan;
    }
  
    &:hover {
        text-decoration: underline;
        color: darkcyan;
    }
  
    &:active {
        text-decoration: underline;
        color: darkcyan;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    line-height: 1.4;
    width: 90%;
    @media screen and (min-width: $break-large) {
        width: 50%;
    }
}

.listing {
    margin-bottom: 3rem;
}

.date {
    font-size: 0.85rem;
    margin-top: 0;
    color: #666;
}

.paginator {
    a {
        text-decoration: none;
        font-family: $nav-font-family;
        color: black;
    }
    .paginator-next {
        float: right;
    }
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    border-top: gray 1px solid;
}

.back-nav {
    a {
        text-decoration: none;
        font-family: $nav-font-family;
        color: black;
    }
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    border-top: gray 1px solid;
}

.page-title {
    margin-bottom: 0.1rem;
}

.menu {
    ul {
        float: right;
        li {
            display: inline-block;
            margin-right: 1rem;
            a {
                text-decoration: none;
                font-family: $nav-font-family;
                color: black;
            }
        }
    }    
}

.about-wrapper {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    border-top: gray 1px solid;
}

.about-links {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    i {
        padding-right: 0.5rem;
    }
    a {
        text-decoration: none;
        font-family: $nav-font-family;
        color: black;
    }
}
